.content{
    font-family: 'Poppins', sans-serif;
    
}
.breadcrumb{
    padding-left: 50px;
    font-size: 18px; 
}
.text-myboard{
    padding-left: 50px;
    font-size: 28px;
}
.list-boards{
    margin-left: 100px;
}
.box-add{
    display: flex;
    /* width: 200px; */
    border: 2px dashed rgb(33, 150, 243);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.board-user{
    border: 1px solid rgb(33, 150, 243) ;
    height: auto;
}
.badge{
    text-align: justify;
}
.icons-board {
    display: flex;
    font-size: 20px;
    justify-content: flex-end;;
    cursor: pointer;
}
.delete-icon-board {
    margin-right: 10px;
    color: rgb(33, 150, 243);
  }
.edit-icon-board {
    margin-right: 10px;
    color: rgb(33, 150, 243);
  }