.content{
    font-family: 'Poppins', sans-serif;
    
}
.breadcrumb{
    padding-left: 50px;
    font-size: 18px; 
}
.text-myboard{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 28px;
}
.list-boards{
    margin-left: 100px;
}
.box-add{
    display: flex;
    /* width: 200px; */
    border: 2px dashed rgb(33, 150, 243);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.board-user{
    border: 2px solid rgb(33, 150, 243) ;
}
.badge{
    text-align: justify;
}